* {
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;
}

#root {
	position: relative;
}

.bookmark {
	max-height: 7em;
	margin-top: -5px;
	margin-left: 2em;
}

.main {
	text-align: center;
}

.heading {
	padding: 1em;
}

.book-divider {
	max-width: 10em;
}

ul {
	list-style: none;
	display: flex;
	/* flex-direction: column; */
	gap: 2em;
	flex-wrap: wrap;
	justify-content: center;
	padding-inline-start: 0;
}

.book-container {
	background-image: url(../public/images/vecteezy_torn-paper-vintage-sticker-with-space-area_12805631_471.png);
	padding: 1em 1.5em;
	background-color: rgb(254, 254, 245);
	border-radius: 1em;
	box-shadow: 0.3em 0.3em 0.8em grey;
	min-width: 14em;
	max-width: 14em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button {
	background-color: #afd3c5;
	border-radius: 0.5em;
	padding: 0.3em 0.5em;
	margin: 0.3em;
	/* border: 2px solid rgb(228, 201, 64); */
	border: none;
	box-shadow: 0.3em 0.3em 0.5em grey;
}

.delete-button,
.edit-button {
	width: 3em;
	height: 3em;

}

.button-icon {
	max-width: 100%;
	max-height: 100%;
}


.button:hover {
	transform: scale(1.1);
}

.add-button {
	margin-top: 2em;
	padding: 0.8em 1.1em;
}

.modal-content {
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	padding: 1.5em;
}

.button-div {
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
}